<!DOCTYPE html>
<html>
  <head>
    <title>BetterReads</title>
    <script src="https://use.fontawesome.com/e55f4363f4.js"></script>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      window.logo = "<%= image_url('better_read_second_draft.png') %>"
      window.bookrow = "<%= image_url('bookrow.jpg') %>"
      window.construct = "<%= image_url('page_under_construction_pic.jpg') %>"
      window.main_background = "<%= image_url('basic_background.jpg') %>"
      window.tan_background = "<%= image_url('tan_background.jpg') %>"
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
